

header{
    padding: 20px 165px;
}
header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logowrap{
    display: flex;
    gap: 45px;
    align-items: center;
    justify-content: center;
}

nav a{
    color: #9E9AA8;
font-family: Poppins;
font-size: 15px;
font-style: normal;
font-weight: 700;
line-height: normal;
text-decoration: none;
}
nav{
    display: flex;
    gap: 20px;
}

.buttonwrap .login{
    background-color: white;
    border: none;
    color: #9E9AA8;
font-family: Poppins;
font-size: 15px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.buttonwrap .sign{
    width: 105px;
height: 40px;
flex-shrink: 0;
border-radius: 28px;
background: #2BD0D0;
color: white;
border: none;
}

.map{
    width: 300px;
    height: 300px;
    border: 1px solid red;
}